<div class="container">
  <% unless @recipes.empty? %>
    <%= render "recipes_list" %>
  <% else %>
    <p>Sorry, there were no recipe results for “<%= @search %>”</p>
  <% end %>

  <%= will_paginate @recipes %>
</div>